.counter_wrap {
    width: 400px;
    height: 250px;
    border: 3px solid white;
    background: black;
    color: white;
    padding: 25px;
    text-align: center;
    justify-content: center;
}

.result {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    font-size: 20px;
}

.btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    height: 22px;
    width: 40%;
    margin: 15px auto;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #474747;
}

.btn_reset {
    height: 20px;
    width: 100%;
    background: palegreen;
}

.input_area {
    display: flex;
    align-items: center;
}